@font-face {
  font-family: "Abril Fatface";
  src: url("../fonts/AbrilFatface-Regular.ttf");
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Light.ttf");
  /* src: url("../fonts/WorkSans-Medium.ttf"); */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans";
  color: white;
}
body {
  background-image: url(../../mobileWebpage/img/bg_001.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* ================================== header */
header {
  display: flex;
  justify-content: center;
}
nav {
  width: 55vw;
  margin-top: 4vh;
  margin-bottom: 5vh;
  display: flex;

  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 10vw;
  display: flex;
  align-self: flex-start;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;

  justify-content: space-evenly;
  text-transform: uppercase;
}
nav ul li {
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  font-weight: bold;
}
a {
  text-decoration: none;
}
/* ============================= body */
main {
  display: flex;
  width: 55vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.body {
  display: flex;
  justify-content: center;
}
.body div div {
  display: inline-block;
  position: relative;
}
.text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div h1 {
  font-size: 2.5rem;
}
div p {
  margin-top: 2vh;
  margin-bottom: 3vh;
  font-weight: 500;
}
.phone {
  width: 50%;
  border: 2px dashed palegoldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 16vw;
  display: flex;
}

.buttons {
  display: inline-block;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
}

button {
  padding: 1rem;
  border: none;
  border-radius: 0.2rem;
  align-self: flex-start;
  flex-direction: row;

  font-size: 1.2rem;
  font-weight: 600;
}
button:hover,
button:active {
  cursor: pointer;
  opacity: 0.5;
}
button:focus {
  outline: none;
  opacity: 1;
  color: black;
}
.blue {
  background-color: rgb(68, 135, 173);
}
.green {
  background-color: rgb(54, 160, 54);
}
.phone {
  align-items: flex-end;
}
/* überlappung img */
.phone img:nth-of-type(1) {
  position: relative;
  right: -7.5vw;
  bottom: -1vh;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 1160px) {
  /* burger menu */
  .hamburger {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
  }
  .hamburger div {
    width: 2.5rem;
    border: whitesmoke 2px solid;
    border-radius: 25%;
  }
  .side-menu {
    width: 15vw;
    height: 30vh;

    display: none;
  }
  /* general setting */
  nav {
    width: 75vw;
  }
  nav img {
    width: 15vw;
    display: flex;
    align-self: flex-start;
  }
  main {
    width: 75vw;
    height: 80vh;
  }
  .body {
    display: flex;
    align-content: center;
    justify-content: center;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hamburger {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
  }
  .hamburger div {
    width: 2.5rem;
    border: whitesmoke 2px solid;
    border-radius: 25%;
  }
  .side-menu {
    width: 15vw;
    height: 30vh;
    display: none;
  }
  /* general setting */
  nav {
    width: 90vw;
  }
  nav img {
    width: 20vw;
    display: flex;
    align-self: flex-start;
  }
  main {
    width: 90vw;
    height: 80vh;
  }
  .body {
    display: flex;
    align-content: center;
    justify-content: center;
  }
}
/* hamburger menu */
