@font-face {
  font-family: "Abril Fatface";
  src: url("../fonts/AbrilFatface-Regular.ttf");
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Light.ttf");
  src: url("../fonts/WorkSans-Medium.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans";
  color: white;
}
body {
  background-image: url(../img/bg_001.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* === header === */

nav {
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  width: 80%;
  display: inline-flex;
  position: relative;
}
ul {
  display: inline-flex;
}
ul li {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 9%;
  list-style-type: none;
  text-transform: uppercase;

  font-size: 100%;
}
a {
  text-decoration: none;
}
nav span {
  position: relative;
  width: 50%;
  display: inline-flex;
}
nav span img {
  position: fixed;
  float: left;
}
/* === body === */
h1 {
  font-family: "Abril Fatface";
  font-size: 2.2vw;
  letter-spacing: 0.2vw;
  text-align: center;
  margin: 5%;
}
p {
  line-height: 1.2;
  font-size: 1.2vw;
  margin: 5%;
}
section {
  display: inline-flex;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}
section span {
  position: relative;
  width: 50%;
  display: inline-flex;
}
button {
  font-weight: bold;
  text-align: center;
  background-color: rgb(40, 158, 40);
  border-radius: 5px;
  padding: 2%;
  width: 8vw;
  display: inline-flexbox;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: none;
}
/* .butt {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
} */
button:nth-of-type(2) {
  background-color: blue;
}
img {
  width: 15vw;
  height: auto;
}

img:nth-of-type(1) {
  position: relative;
  right: -25%;
  bottom: -5%;
}
