@font-face {
  font-family: "Abril Fatface";
  src: url("../fonts/AbrilFatface-Regular.ttf");
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Light.ttf");
  src: url("../fonts/WorkSans-Medium.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans";
  color: white;
}
body {
  background-image: url(../../mobileWebpage/img/bg_001.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* ================================== header */
header {
  border: tomato dashed 2px;
  display: flex;
  justify-content: center;
}
nav {
  border: khaki dashed 2px;
  width: 50vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
}
nav img {
  width: 10vw;
  display: flex;
}
nav ul {
  border: seagreen 2px dashed;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  float: right;
}
nav ul li {
  margin-left: 1%;
  display: flex;
  flex-direction: row;
}
a {
  text-decoration: none;
}
/* ============================= body */
.body {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
.body div div {
  display: inline;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div h1 {
  font-size: 2rem;
}
div p {
  margin-top: 2vh;
  margin-bottom: 1vh;
}
.phone {
  border: 2px dashed palegoldenrod;

  display: flex;
  position: relative;
  justify-content: right;
  float: right;
}
img {
  width: 14vw;
  height: auto;
  display: flex;

  justify-self: right;
  float: right;
}

.buttons {
  margin-top: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: olive 2px dashed;
}
.buttons :nth-child(2) {
  background-color: royalblue;
}
button {
  padding: 0.5rem;
  background-color: green;
  border: none;
  border-radius: 0.2rem;
  align-self: center;

  flex-direction: row;
  justify-content: center;
}
button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.5;
}

button:active,
button:focus {
  outline: none;
  border: none;
}
.phone {
  align-items: flex-end;
}
/* überlappung img */
.phone img:nth-of-type(1) {
  position: relative;
  right: -7.5vw;
  bottom: -1vh;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hamburger {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
  }
  .hamburger div {
    width: 2.5rem;
    border: whitesmoke 2px solid;
    border-radius: 25%;
  }
  .side-menu {
    width: 15vw;
    height: 30vh;
    display: none;
  }
}
/* hamburger menu */
