@font-face {
  font-family: "Abril Fatface";
  src: url("../fonts/AbrilFatface-Regular.ttf");
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Light.ttf");
  src: url("../fonts/WorkSans-Medium.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans";
  color: white;
}
body {
  background-image: url(../img/bg_001.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/*  #body >>>  div um alles*/
#body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* nav >>> logo + nav */
nav {
  width: 100%;
  height: auto;
  margin-top: 2%;
  margin-bottom: 5%;
  border: solid khaki 3px;
}
ul {
  float: right;
}
ul li {
  list-style-type: none;
  text-transform: uppercase;
  text-align: right;
  font-size: 100%;
}
a {
  text-decoration: none;
}
.navi {
  width: 50%;
  height: auto;
  /* margin-top: auto;
  margin-bottom: auto; */
}
.one {
  background-color: honeydew;
  float: left;
}
.one img {
  float: left;
}
.two {
  background-color: hotpink;
  float: right;
}
/* === body === */
h1 {
  font-family: "Abril Fatface";
  font-size: 2.2vw;
  letter-spacing: 0.2vw;
  text-align: center;
  margin: 5%;
}
p {
  line-height: 1.2;
  font-size: 1.2vw;
}
.art {
  width: 50%;
}
.left {
  background-color: indianred;
  float: left;
}
.right {
  background-color: indigo;
  float: right;
}
button {
  font-weight: bold;
  text-align: center;
  background-color: rgb(40, 158, 40);
  border-radius: 5px;
  padding: 2%;
  width: 8vw;
  display: inline;

  margin-left: auto;
  margin-right: auto;
  border: none;
}

button:nth-of-type(2) {
  background-color: blue;
}
img {
  width: 12vw;
  height: auto;
}
/* überlappung img */
img:nth-of-type(1) {
  position: relative;
  right: -25%;
  bottom: -5%;
}
